@font-face {
  font-family: "TT Hoves Pro";
  src: url("fonts/TTHoves-DemiBold.woff2") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves Pro";
  src: url("fonts/TTHoves-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves Pro";
  src: url("/fonts/TTHoves-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
